@{
    ViewData["Title"] = "Update feeds";
}
<div class="row">
    <div class="col-md-6">
        <h1>Update feeds</h1>
        <div class="form-group">
            <label>Access token:</label>
            <input name="token" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label>Query:</label>
            <input name="query" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <input type="button" id="_bt_submit" value="Submit" class="btn btn-primary" />
        </div>
    </div>
    <div class="col-md-6">
        <h2>Process</h2>
    </div>
</div>